@tailwind components;

@layer components {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-primary-clear to-primary-dull;
  }

  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
  .to-primary-dull {
    --tw-gradient-to: var(--primary-dull);
  }
  .from-primary-clear {
    --tw-gradient-from: var(--primary-clear);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}
